* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: "NSimSun" , "FangSong" , sans-serif;
    /* font-family: 'ZCOOL XiaoWei', serif; */
}

/* ----------------header----------------*/

nav {
    height: 150px;
    display: flex;
    background-image: url("img/wooden2.jpg");
}
.container {
    width: 100%;
    padding: 0 10%;
}
.containerheader {
    display: flex;
    flex-direction: column;
    align-items: center;
}
header nav .nav-top {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav .nav-top p {
    font-size: 45px;
    color: darkblue;
    font-weight: bolder;
}
header nav .nav-bottom {
    width: 100%;
    height: 30%;
    /* border-bottom: 2px blue solid; */
    display: flex;
    justify-content: center;
}
header nav .nav-bottom ul {
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
header nav .nav-bottom ul li {
    display: inline;
}
header nav .nav-bottom ul li div{
    width: 60px;
    height: 30px;
    color: red;
    font-weight: bolder;
    font-size: 20px;
    background-image: url("img/wooden1.jpg");
    background-size: cover;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav .nav-bottom ul li div:hover{
    width: 80px;
    color: lightcoral;
    font-size: 25px;
}

/* ----------------main----------------*/
main {
    background-image: url("img/wooden2.jpg");
    display: flex;
    justify-content: center;
}
main .containermain {
    width: 90%;
    padding: 0 10%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-image: url("img/cork-board1.jpg");
    background-position: center;
}

main .containermain .innerbox {
    margin: 30px 0;
    width: calc((100% - 50px * 2) / 3);
    height: 400px;
    background-image: url("img/paper1.png");
    background-position: center;
    background-size: cover;
    box-shadow: -5px 5px 10px 0px black;
    position: relative;
}
.innerbox .inner-top {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 10%;
    left: 10%;
    transform: translate(-10%,-10%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.innerbox p {
    margin: 0;
}
.inner-top .p-city {
    height: 30%;
    font-size: 48px;
    color: darkorange;
    font-weight: bolder;
}
.inner-top .p-st, .p-et {
    color: darkred;
    font-size: 16px;
}
.inner-top .p-con {
    font-size: 20px;
    color: red;
    font-weight: bolder;
}

.innerbox .inner-bottom {
    width: 50%;
    height: 20%;
    position: absolute;
    top: 90%;
    left: 10%;
    transform: translate(-10%,-90%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.inner-bottom .p-t {
    color: purple;
    font-size: 18px;
    font-weight: bolder;
}
.inner-bottom .p-pop {
    color: rgb(85, 85, 245);
    font-size: 15px;
}
.inner-bottom .p-ci {
    color: orangered;
    font-size: 18px;
}
.in-innerbox {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%,0%);
}
.img-box {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-box img {
    height: 100px;
    width: 100px;
}
@media (max-width:1400px) {
    main .containermain .innerbox {
        width: calc((100% - 50px ) / 2);
    }
}
@media (max-width:950px) {
    main .containermain .innerbox {
        width: 100%;
    }
}
/* -------------------footer------------------- */
footer {
    width: 100%;
    height: 150px;
    background-image: url("img/wooden2.jpg");
}